<div data-role="header" class="header">
  <nav data-role="navbar" data-grid-"d">
  <ul>
    <li><a href="/" class="ui-btn-active">UCSB CS8 (and CCS CS20)</a></li>
    <li><a href="https://ucsb-cs8-s18.github.io" >{{site.course}} S18 Conrad</a></li>
    <li><a href="https://ucsb-ccs-cs20-s18.github.io">CCS CS20 S18 Conrad</a></li>

     <li><a href="https://python.org">python.org</a></li>
  </ul>
 </nav>
 <nav data-role="navbar" data-grid-"d">
  <ul>
   <li><a href="{{site.gauchospace_url}}">Gauchospace</a></li>
   <li><a href="https://gradescope.com">Gradescope</a></li>
    <li><a href="{{site.piazza_url}}">Piazza</a></li>
  </ul>
 </nav>
</div>
