<div data-role="header" class="header">
  <nav data-role="navbar" data-grid-"d">
  <ul>
    <li><a href="/">UCSB {{site.course}} </a></li>
    <li><a href="https://ucsb-cs8-s18.github.io" class="ui-btn-active">{{site.course}} S18 Conrad</a></li>
     <li><a href="https://submit.cs.ucsb.edu">submit.cs</a></li>
  </ul>
 </nav>
 <nav data-role="navbar" data-grid-"d">
  <ul>
   <li><a href="{{site.gauchospace_url}}">Gauchospace</a></li>
   <li><a href="https://gradescope.com">Gradescope</a></li>
    <li><a href="{{site.piazza_url}}">Piazza</a></li>
  </ul>
 </nav>
</div>
